html, body{
    background-color: rgb(224, 172, 135);
    /* background-image: linear-gradient(
      115deg,
      rgba(33, 247, 247, 0.7), 
      rgba(194, 34, 34, 0.904)
      ); */
    text-align: center;
    height: 99%;
}

.calculator{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    
    top: 0px; bottom: 0px;
    /* display: grid; */
    
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-gap: 1rem;
}

.display{
    background-color: rgb(255, 255, 255);
    margin-top: 0.2rem;
    border: 1px solid grey;
    border-radius: 50px;
    margin: 5px 5px 0px 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    /* Might likely copy this, want to add feature where the preview of the entire operation is visible */
    /* text-align: right; */
    padding-right: 0.8rem;
    padding-top: 0.2rem;
    text-shadow: 0 0.04em 0.01em rgb(53, 48, 48);

    display: grid;
    grid-template-rows: 1fr 1fr;
}


.operators{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0.5rem;
    
}
.operators > button{
    font-size: 2rem;
    margin: 0px 5px 0px 5px;
    border-color: transparent;
    background-color: rgba(41, 34, 48, 0.116);
    border-radius: 5px;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.operators > button:hover{
    background-color: rgba(153, 148, 148, 0.068);
}

.numbers{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 5px 5px 5px;
    
}

.numbers > button{
    margin: 0;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgb(255, 145, 0);
    font-size: 2rem;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.numbers > button:hover{
    background-color: orange;
}